
@{
    ViewBag.Title = "AdminAccess";
}

<h2>Волшебная страница</h2>

@Html.ActionLink("Login", "Login") <br />
@Html.ActionLink("/", "Login")<br />
@Html.ActionLink("/", "Login")<br />
@Html.ActionLink("/", "Login")<br />
@Html.RouteLink("/", new { controller = "Account", action = "Admin777", id = "777"})<br />
@Html.ActionLink("/", "Login")<br />
@Html.ActionLink("/", "Login")<br />
@Html.ActionLink("/", "Login")<br />
@Html.ActionLink("/", "Login")<br />